.flower-image-info {
  margin-top: 100px;
  width: 100%;
  /* Bilden fyller hela bredden på kortet */
  height: 340px;
  object-fit: cover;
  /* Beskär bilden för att fylla ramen med behållande av proportionerna */
  border-radius: 150px 150px 0px 0px;
}

.flower-image-info-bottom {
  margin-bottom: 50px;
  width: 100%;
  height: 170px;
  object-fit: cover;
  /* Beskär bilden för att fylla ramen med behållande av proportionerna */
  border-radius: 0px 0px 50px 50px;
}

.flower-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 25px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.flower-info-container>p {
  background-color: #ffffff00;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px;
  min-height: 120px;
  font-size: 16px;
}

.flower-info-container>p>strong {
  font-size: x-large;
  width: 100%;
  display: inline-block;
  font-weight: 200;
  font-family: "Abril Fatface", serif;
}

.small-info-container {
  display: grid;
  align-items: center;

  border-style: dotted;
  border-width: thick;
  border-radius: 5px 5px 5px 5px;

  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 30px;

  /* bakgrundsbild */
  background-image: url(`/src/assets/picturesApi/${flower.image}`);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 955px) {
  .flower-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

}
